In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import bz2

In [2]:
bookings_path = r'../../../data/challenge/bookings.csv.bz2'
searches_path = r'../../../data/challenge/searches.csv.bz2'

In [9]:

zip_file = bz2.BZ2File(bookings_path, 'r')
df = zip_file.read()
df

KeyboardInterrupt:

In [ ]:
with bz2.BZ2File(bookings_path) as f:
    # Decompress data from file
    content = f.read()

In [ ]:

bookings_path = r'C:\Users\Usuario\Desktop\Master DATA SCIENCE\data\challenge\bookings.csv'
temp = pd.read_csv(bookings_path, sep='delimiter', header=None).head(10000)
temp.to_csv('sample.csv', index=False)

In [3]:
bookings_path = r'./sample.csv.bz2'
df = pd.read_csv(bookings_path, compression='bz2', sep= '^', header=1, usecols=['arr_port', 'pax', 'year'], nrows = 100000)

In [4]:

df.columns = [col.strip() for col in df.columns]

In [5]:
bookings_path = r'../../../data/challenge/bookings.csv.bz2'
df_big = pd.read_csv(
                     bookings_path,
                     compression='bz2', 
                     sep= '^', 
                     header=0, 
                     usecols=['arr_port', 'pax', 'year'], 
                     #nrows = 100000
                     chunksize=100_000 # con este parametro se convierte en un iterador
                    )

In [6]:
with pd.read_csv(
                     bookings_path,
                     compression='bz2', 
                     sep= '^', 
                     header=0, 
                     usecols=['arr_port', 'pax', 'year'], 
                     #nrows = 100000
                     chunksize=100_000 # con este parametro se convierte en un iterador
                    ) as df_iter:
                    for chunk in df_big:
                        print(len(chunk))
                        break

AttributeError: __enter__

-----

# Import dependancies

In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import bz2

import neobase as nb

In [3]:
bookings_path = r'../../../data/challenge/bookings.csv.bz2'
searches_path = r'../../../data/challenge/searches.csv.bz2'

Since bookings file is 4.4Gb, we could use a sample to explore the data.

In [17]:
sample = pd.read_csv(bookings_path, compression='bz2', sep= '^', header=0, nrows = 100_000)
sample.to_csv('../../../data/challenge/sample.csv', index=False)

# Explore the data available

In [18]:
sample.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [19]:
sample.columns

Index(['act_date           ', 'source', 'pos_ctry', 'pos_iata', 'pos_oid  ',
       'rloc          ', 'cre_date           ', 'duration', 'distance',
       'dep_port', 'dep_city', 'dep_ctry', 'arr_port', 'arr_city', 'arr_ctry',
       'lst_port', 'lst_city', 'lst_ctry', 'brd_port', 'brd_city', 'brd_ctry',
       'off_port', 'off_city', 'off_ctry', 'mkt_port', 'mkt_city', 'mkt_ctry',
       'intl', 'route          ', 'carrier', 'bkg_class', 'cab_class',
       'brd_time           ', 'off_time           ', 'pax', 'year', 'month',
       'oid      '],
      dtype='object')

Some columns seem to have a indefinite amount of white spaces.

In [20]:
sample.columns = [col.strip() for col in sample.columns]
sample.columns

Index(['act_date', 'source', 'pos_ctry', 'pos_iata', 'pos_oid', 'rloc',
       'cre_date', 'duration', 'distance', 'dep_port', 'dep_city', 'dep_ctry',
       'arr_port', 'arr_city', 'arr_ctry', 'lst_port', 'lst_city', 'lst_ctry',
       'brd_port', 'brd_city', 'brd_ctry', 'off_port', 'off_city', 'off_ctry',
       'mkt_port', 'mkt_city', 'mkt_ctry', 'intl', 'route', 'carrier',
       'bkg_class', 'cab_class', 'brd_time', 'off_time', 'pax', 'year',
       'month', 'oid'],
      dtype='object')

We could also get rid of he spaces in some columns using loc

In [56]:
sample.loc[:,'arr_port'] = sample['arr_port'].str.strip()

Or we could rename all columns using a dictionary.

In [52]:
new_cols = {}
for col in sample.columns:
    new_cols[col] = col.strip()
sample = sample.rename(new_cols, axis=1)

# Exercise 1

Count the number of lines in python for each file

In order to do it as fast as possible we can select one column to count all lines.

In [21]:
bookings_lenght = len(pd.read_csv(
                                  bookings_path,
                                  compression='bz2', 
                                  sep= '^', 
                                  header=0, 
                                  usecols=['pax'], 
                                  ))
print(f'Bookings.csv has {bookings_lenght} lines.')

Bookings.csv has 10000010 lines.

In [28]:
searches = pd.read_csv(
                       searches_path,
                       compression='bz2', 
                       sep= '^', 
                       header=0,
                       nrows=10
                       )
searches.columns

Index(['Date', 'Time', 'TxnCode', 'OfficeID', 'Country', 'Origin',
       'Destination', 'RoundTrip', 'NbSegments', 'Seg1Departure',
       'Seg1Arrival', 'Seg1Date', 'Seg1Carrier', 'Seg1BookingCode',
       'Seg2Departure', 'Seg2Arrival', 'Seg2Date', 'Seg2Carrier',
       'Seg2BookingCode', 'Seg3Departure', 'Seg3Arrival', 'Seg3Date',
       'Seg3Carrier', 'Seg3BookingCode', 'Seg4Departure', 'Seg4Arrival',
       'Seg4Date', 'Seg4Carrier', 'Seg4BookingCode', 'Seg5Departure',
       'Seg5Arrival', 'Seg5Date', 'Seg5Carrier', 'Seg5BookingCode',
       'Seg6Departure', 'Seg6Arrival', 'Seg6Date', 'Seg6Carrier',
       'Seg6BookingCode', 'From', 'IsPublishedForNeg', 'IsFromInternet',
       'IsFromVista', 'TerminalID', 'InternetOffice'],
      dtype='object')

In [29]:
searches_lenght = len(pd.read_csv(
                                searches_path,
                                compression='bz2', 
                                sep= '^', 
                                header=0, 
                                usecols=['Date'],
                                ))
print(f'searches.csv has {searches_lenght} lines.')

searches.csv has 20390198 lines.

# Exercise 2

Top 10 arrival airports in the world in 2013 (using the bookings file)

• Arrival airport is the column **arr_port**. It is the IATA code for the airport

• To get the total number of passengers for an airport, you can *sum* the column
**pax**, grouping by **arr_port**. Note that there is negative pax. That corresponds to
cancelations. So to get the total number of passengers that have actually
booked, you should sum including the negatives (that will remove the canceled
bookings).

• Print the top 10 arrival airports in the standard output, including the number of
passengers.

• Bonus point: Get the name of the city or airport corresponding to that airport
(programatically, we suggest to have a look at GeoBases in Github)

• Bonus point: Solve this problem using pandas (instead of any other approach)

In [20]:
df_full = pd.read_csv(
                     bookings_path,
                     compression='bz2', 
                     sep= '^', 
                     header=0, 
                     usecols=['arr_port', 'pax', 'year'], 
                     #nrows = 100000
                     chunksize=100_000 # con este parametro se convierte en un iterador
                    )

In [25]:
with pd.read_csv(
                     bookings_path,
                     compression='bz2', 
                     sep= '^', 
                     header=0, 
                     usecols=['arr_port', 'pax', 'year'], 
                     #nrows = 100000
                     chunksize=100_000 # con este parametro se convierte en un iterador
                    ) as df_iter:
                    for chunk in df_full:
                        print(chunk.head(10))
                        break

AttributeError: __enter__

In [31]:
for chunk in df_full:
    print(chunk.head(10))
    break

        arr_port  pax  year
500000  VCE         1  2013
500001  VCE         1  2013
500002  VCE        -1  2013
500003  VCE        -1  2013
500004  VCE         1  2013
500005  VCE         1  2013
500006  YUL        -1  2013
500007  YUL         1  2013
500008  DPL        -1  2013
500009  DPL         1  2013

In [29]:
print(bookings_iter.head(10))

AttributeError: 'TextFileReader' object has no attribute 'head'

In [6]:
with pd.read_csv(
                bookings_path,
                compression='bz2', 
                sep= '^', 
                header=0, 
                usecols=['arr_port', 'pax', 'year'], 
                chunksize=100_000 # con este parametro se convierte en un iterador
                ) as df_iter:
    for chunk in df_iter:
        print(chunk.head(10))
        break

AttributeError: __enter__

In [106]:
df_big.loc[:,'arr_port'] = df_big['arr_port'].str.strip()

In [118]:
df_big.groupby('arr_port')['pax'].sum().reset_index().sort_values(by='pax', ascending=False).head(10)

     arr_port   pax
733       LHR  1006
798       MCO   861
620       JFK   795
706       LAX   761
156       BKK   747
704       LAS   732
1159      SFO   705
957       ORD   686
232       CDG   676
366       DXB   587

https://pypi.org/project/GeoBases/

# Exercise 3

Plot the monthly number of searches for flights arriving at Málaga, Madrid or Barcelona

• For the arriving airport, you can use the
Destination column in the searches file.

• Plot a curve for Málaga, another one for
Madrid, and another one for Barcelona, in
the same figure.

• Bonus point: Solving this problem using
pandas (instead of any other approach)

# Exercise 4
Match searches with bookings

• For every search in the searches file, find out whether
the search ended up in a booking or not (using the info
in the bookings file). For instance, search and booking
origin and destination should match.

• For the bookings file, origin and destination are the
columns dep_port and arr_port, respectively.

• Generate a CSV file with the search data, and an
additional field, containing 1 if the search ended up in
a booking, and 0 otherwise.

# Exercise 5

Write a Web Service

• Wrap the output of the second exercise in a
web service that returns the data in JSON
format (instead of printing to the standard
output).

• The web service should accept a parameter
n>0. For the top 10 airports, n is 10. For the X
top airports, n is X