# Introduction to Data Analysis with Python II


<img src="https://www.python.org/static/img/python-logo.png" alt="yogen" style="width: 200px; float: right;"/>
<br>
<br>
<br>
<img src="../assets/yogen-logo.png" alt="yogen" style="width: 200px; float: right;"/>

## Data Wrangling: Clean, Transform, Merge, Reshape

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Combining and merging data sets

### Database-style DataFrame merges

In [2]:
df1 = pd.DataFrame({'data1' : range(7), 'key' : list('bbacaab')})
df2 = pd.DataFrame({'data2' : range(20,23), 'key' : list('abd')})

By default, .merge() performs an [inner join](https://www.w3schools.com/sql/sql_join.asp) between the DataFrames, using the common columns as keys.

That means that it returns the cartesian product of the elements with common keys: if there are duplicates, it will return all the possible combinations:

In [ ]:
df1.merge(df2, how='outer')

If the columns to join on don't have the same name, or we want to join on the index of the DataFrames, we'll need to specify that.

In [31]:
df3 = pd.DataFrame({'data1' : range(7), 'lkey' : list('bbacaab')})
df4 = pd.DataFrame({'data2' : range(20,23), 'rkey' : list('abd')})
df3.merge(df4, left_on='lkey', right_on= 'rkey')

   data1 lkey  data2 rkey
0      0    b     21    b
1      1    b     21    b
2      6    b     21    b
3      2    a     20    a
4      4    a     20    a
5      5    a     20    a

If there are two columns with the same name that we do not join on, both will get transferred to the resulting DataFrame with a suffix. We can customize these suffixes.

In [33]:
df1.merge(df2, on='key', suffixes=['_old', '_new'])

   data1 key  data2
0      0   b     21
1      1   b     21
2      6   b     21
3      2   a     20
4      4   a     20
5      5   a     20

### Merging on index

In [35]:
df5 = pd.DataFrame({'g': range(4),
                   'h': range(8, 12)},
                  index=list('abcd'))
df5

   g   h
a  0   8
b  1   9
c  2  10
d  3  11

In [36]:
df1.merge(df5, left_on='data1', right_on='g')

   data1 key  g   h
0      0   b  0   8
1      1   b  1   9
2      2   a  2  10
3      3   c  3  11

### Concatenating along an axis

## On Time Performance Table, transtats.

Downloaded from `https://www.transtats.bts.gov/`

### Instructions for download:

Input "On Time Performance" in search box, click on "Airline On-Time Performance Data" from the search results, then on the bottom right corner of "Reporting Carrier On-Time Performance (1987-present)" click "Download". In the next screen, click "Prezipped file", select the period (March and April 2020), and click "Download" once for each period, for a total of 2 zip files.

We only need the `.csv` inside of each of those zipped files.

### Take a look at the beginning of the readme file

using the shell

The readme file is html. Luckily, we are working in an html environment. 

### Display the contents of `readme.html` within the notebook
With [IPython.display.IFrame](https://ipython.org/ipython-doc/3/api/generated/IPython.display.html)

That's some very good documentation!

The files within the zip are " quoted csv's. They contain information on timeliness of departures in the US, at the departure level.

### Let's load one of the files into memory as a pandas dataframe. What functions do you need to use?

Pro tip: there is no need to decompress the whole file. Check out [zipfile.ZipFile](https://docs.python.org/3/library/zipfile.html)

First, open a connection to one of the files

zip_file is a connection to the compressed file, the .zip. We can use it to open a connection to one of the files it contains, which will behave like a normal uncompressed file that we had opened with open()

Now we're ready to load the file into memory as a pandas dataframe. Remember to close the connections to the files!

#### Exercise

Load both March 2020 and April 2020 into a single DataFrame

Let's start examining the data: show the beginning of the file. How many records does it contain?

#### Digression

Attention! Be careful not to reassign to reserved words or functions- you will overwrite the variable.

You can delete the overwritten variable, but you won't get back the original value. If it is an object or function from a module, you'll need to reload() the module, since Python doesn't load again an already imported module if you try to import it. reload() is useful also when you are actively developing your own module and want to load the latest definition of a function into memory.

## Data transformation

### Removing duplicates

#### Exercise

How many individual airports are there in the OTP data?

How many routes (combinations of origin / destination)

### Renaming axis indexes

### Discretization and binning

## String manipulation

### String object methods

### Vectorized string functions in pandas

[Vectorized string functions in pandas](https://pandas.pydata.org/pandas-docs/stable/text.html) are grouped within the .str attribute of Series and Indexes. They have the same names as the regular Python string functions, but work on Series of strings.

#### Exercise:

* Generate a list of the columns that have 'Origin' in their name

* Show a sample of the values that those columns take.

So much redundant information! Let's jump ahead with this list of interesting columns:

```python
interesting_columns= ['FlightDate', 'DayOfWeek', 'Reporting_Airline', 'Tail_Number', 'Flight_Number_Reporting_Airline', 
                      'Origin', 'OriginCityName', 'OriginStateName', 'OriginCityMarketID',
                      'Dest', 'DestCityName', 'DestStateName', 'DestCityMarketID',
                      'DepTime', 'DepDelay', 'AirTime', 'Distance']

flights = flights[interesting_columns]
```

# Data Aggregation and Group Operations

## GroupBy mechanics

### Iterating over groups

### Selecting a column or subset of columns

df.groupby('key1')['data1']
df.groupby('key1')[['data2']]

df['data1'].groupby(df['key1'])
df[['data2']].groupby(df['key1'])

## Data aggregation

### Column-wise and multiple function application

####  Exercise



What is the plane that has the highest average delay? We'll first group by `Tail_Number` (the *license plate* of a plane) and then calculate the relevant statistic for each group (group of *departures*)

* Get average delays for each plane, then show the top 10

* Get both average delay and number of flights. Show the 10 planes with the most flights

* Get both average delay and number of flights.  Show the 10 planes with the worst delays from those that had at least 10 flights.

## Group-wise operations and transformations

### Apply: General split-apply-combine

f = lambda x: x.describe()
grouped.apply(f)

#### Suppressing the group keys

### Quantile and bucket analysis

### Example: Filling missing values with group-specific values

#### Exercise: 

Show cities by descending number of airports

#### Exercise

The list above doesn't correspond to our intuitive expectation, probably. That is because airports serving the same general area may be located within several different city limits. This is encapsulated by the "market" concept in commercial aviation.

Find the 10 markets with the most airports, and which airports are included in them.

Hint: there is an aggregation that we haven't used yet that can come in really handy. Search for it in the [list of functions in groupby](https://pandas.pydata.org/pandas-docs/stable/reference/groupby.html)

## Pivot tables and Cross-tabulation

#### Exercise:

How do the delays stack over the course of the day? We are going to look at it by examining the distribution of delays for each hour of the day. 

* Calculate minimum, 25th percentile, median, average, 75th percentile, and maximum delay for each hour of the day.

#### Exercise

We are also interested in examining how the home base influences delays. Calculate the delay distribution (minimum, 25th percentile, median, average, 75th percentile, and maximum) for every airport. Then show the values for the 10 airports with the most flights.

#### Take home project

If we wanted to do some machine learning, we would need to create as many informative features as we thought could be useful. This is called Feature Engineering.

Discrete data would most often be transformed by [one-hot encoding](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f), which is [very easy to do in pandas](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.get_dummies.html).

![One Hot Encoding](https://hackernoon.com/photos/4HK5qyMbWfetPhAavzyTZrEb90N2-3o23tie)

With high cardinality discrete data such as airports or, especially, tail numbers, we would be left with many variables, most of which would not be very informative. There are [several options](https://www.datacamp.com/community/tutorials/encoding-methodologies) to deal with this. The most sophisticated is probably vector encoding, but we can do with a very simple approach: [target encoding](https://maxhalford.github.io/blog/target-encoding-done-the-right-way/).

This means that we substitute each value of the discrete variable by the average or median value of the target variable for that value of the independent discrete variable. However! if we want to use this in machine learning for predictions, we would need to use only the previous values.

Target encode the variable 'Origin' and the 'Tail_Number' variable, using for each cell only the values that were available the previous day. In other words: create a `median_delay_origin` variable that contains, for each record, the median delay at that airport _up to the previous day_. Create another one, `median_delay_plane`, with Tail_Number.